.carousel-img {
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 450px !important;
}

.carousel-inner::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
